{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-title">
        <h1>New comment</h1>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    <br/>
    <div class="acknowlegement">
        <p>
            Your comment wont be posted automatically;
            you will have to wait until I (Beauty) approve your comment.
            I can either choose to approve or delete your comment -
            therefore if you never see your comment I have probably deleted it. :)
        </p>
{% endblock %}
