{% load staticfiles %}

<html>
    <head>
        <title>Beauty's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <center>
            <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
                <div class="title">
                    <h1><b><em><a href="/">Welcome to my blog!</a></em></b></h1>
                </div>
                <p><strong>Hello! My name is Beauty and, as you probably already guessed, this my blog.</strong></p>
            </div>
            <br/>

            <div class="content-container">
                {% block content %}
                {% endblock %}
            </div>
            <br/>
            <br/>
            <footer>
                <div class="django-acknowlegement">
                    <p>
                    This blog was made by using a django girls tutorial. Link to tutorial:
                    <a href="https://tutorial.djangogirls.org/en/">https://tutorial.djangogirls.org/en/</a>
                    </p>
                </div>
            </footer>
        </center>
    </body>
</html>
