<html>
    <head>
        <title>Beauty's blog</title>
    </head>
    <body>
        <font face="arial" color="black">
            <center>
                <div>
                    <h1><b><em>Welcome to my blog!</em></b></h1>
                    <p><strong>Hello! My name is Beauty and, as you probably already guessed, this my blog.</strong></p>
                </div>
                <br/>
                <div>
                    <p><h2><em>My recent blogs :)<em/></h2></p>
                    <ul>
                        <li>
                            <a href"">blog 1</a>
                        </li>
                        <li>
                            <a href"">blog 2</a>
                        </li>
                        <li>
                            <a href"">blog 3</a>
                        </li>
                    </ul>
                </div>
                <br/>
                <div>
                    <p><font size="1">
                        This blog was made by using a django girls tutorial. Link to tutorial:
                        <a href"https://tutorial.djangogirls.org/en/">Django Girls Tutorial</a>
                    </font></p>
            </center>
        </font>
    </body>

</html>
